* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  margin-top: 15px;
  display: inline-block;
  width: 60%;
  height: 80vh;
  background-image: url("../../assets/cold.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 25px 25px 0 0;
}

.box > .input {
  margin-top: 50px;
}

.box > .input > .inputfield {
  background-color: white;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  height: 40px;
  border: none;
  outline: none;
}

.box > .input > .inputfield:focus {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid black;
}

.errormsg {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

.info > .location {
  margin-top: 25px;
}

.info > .temp {
  margin-top: 5px;
}

.info > .tempmin-max {
  margin-top: 5px;
}
